*{
    margin:0;
    padding: 0;

}
body{
    
        font-family:"Poppins",sans-serif;
        background: whitesmoke;
        margin:0;
        padding:0;
        
       

}
.black{
    background-color: black;
    width: 1290px;
    height: 550px;
    background-repeat: no-repeat;
    margin-left:-20px;
    margin-top:-10px;
    float:left;
    margin-top:-22px;
}
nav{
    float:left;
    margin-top:10px;
}
nav ul{
    float:left;
    margin-left:170px;

}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin:0 20px;
}
nav ul li a{
    position:relative;
    color:white;
    font-size: 15px;
}
nav ul li a:hover{
    outline:1.2px;
    color: red;
}
.background{
    background-color:black;
    width:1290px;
    height: 550px;
background-repeat: no-repeat;
margin-left:-20px;
margin-top:-10px;
    margin-right:-10px;
}
p{
    font-family:"Poppins",sans-serif;
    font: 90;
}
span{
    color:red;
}
.none:hover{
    transform: scale(1.1);
    transition-delay: 2sec;
    transition-duration: 2s;
    
}
.container{
    width:130px;
    
    color:white;
    height:90px;
    float:right;
    margin-top:-380px;
    margin-right:130px;
    border-radius: 15px;  
   
    border-color:none;
    
}
button{
    width:70px;
    height:25px;
    background-color:red;
    display: inline-block;
    margin-top: 30px;
    margin-left:161px;
    letter-spacing: 1px;
    border-radius: 10px;
    cursor: pointer;
    outline:none;

}
input{
    outline:none;
    border-radius:2px;
    border-color: transparent;
    float:left;
    margin-top:-348px;
    margin-left:975px;
}
a{
        
    font-family:"Poppins",sans-serif;
}



.container1{
    display: flex;
    margin-top:180px;
    align-items: center;
    justify-content: center;
    height:550px;
}
.none{
    height: 400px;
    width:400px;
    filter: blur(2px);

}
.card{
    height:400px;
    margin:400px;
    box-shadow: 5px 5px 20px black;
    width:-1px;
}
.main{
    justify-content: center;
    align-items: centre;
    margin-top:100px;
    

}
.main22{
    
    margin-top:293px;
    border-radius: 5px;
    margin-left:45px;
    width:360px;
    height:300px;
    filter: blur(2px);

}
.black{
    background-color: black;
    width:1238px;
    height:80px;
    margin-left:20px;
    border-radius: 5px;
    
    margin-top:-424px;

}
.h2text{
    margin-top:-3px;
    margin-left:400px;
    padding:18px;
    
}
.scroll{
    background-color:black;
    width:1110px;
    height:450px;
    margin-top:50px;
    margin-left:40px;
    border-radius:6px;
    padding:40px;
}
.round1{
   
    
    border-radius: 100px;

    display: flex;
    flex-direction: row;
}
.cornerback{
    background-color: black;
    height:650px;
    width:1190px;
    margin-top:14px;
    margin-left:38px;
    border-radius: 7px;
}
.hey:hover{
    transform: scale(1.1);
    transition-delay: 1sec;
    transition-duration: 2s;

}
.hey2:hover{
    transform: scale(1.1);
    transition-delay: 1sec;
    transition-duration: 2s;

}
.hey3:hover{
    transform: scale(1.1);
    transition-delay: 1sec;
    transition-duration: 2s;

}
.hey4:hover{
    transform: scale(1.1);
    transition-delay: 1sec;
    transition-duration: 2s;

}
.its{
    background-color:cornsilk;
    width:1190px;
    height:450px;
    margin-left:38px;
    margin-top:20px;
    border-radius: 7px;
}
.itsok{
    margin-top:20px;
}
.line{
    background-color: brown;
    width:5px;
    height:260px;
    margin-left:350px;
    margin-top:-40px;
}
.line2{
    background-color: brown;
    width:5px;
    height:260px;
    margin-left:820px;
    margin-top:-264px;
}

.offerzone{
    background-color: #E8DFDA;
    width:1190px;
    height:500px;
    margin-left:37px;
    margin-top:20px;
    border-radius:6px;
    scrollbar-shadow-color:black ;
}
.footer{
    background-color: black;
    width:1140px;
    height:400px;
    margin-top:16px;
    margin-left:31px;
    border-radius:6px;
    padding: 34px;
}
.credit{
    color:lightgreen;
    font-family:"Poppins",sans-serif;
    font-weight: 420;
    letter-spacing: 2px;
    margin-left:50px;
    font:small-caption;
    
}
.whiteline{
    background-color: silver;
    width:410px;
    height:1px;
    margin-left:40px;
    margin-top:60px;
}
.lists{
    display:flex;
    flex-direction: row;
    margin-top:-80px;
    word-spacing: 2px;
    

   
    
    margin-left:420px;

}
.class{
margin-top:-140px;
}
.iphone{
    background-color: beige;
    width:530px;
    height:379px;
    margin-left:614px;
    margin-top:-470px;
    border-radius: 4px;
    padding:14px;
}
.iphone1{
    background-color:bisque;
    width:230px;
    height:210px;
    border-radius: 5px;
    margin-left:8px;
    padding:10px;

}
.iphone2{
    background-color:bisque;
    width:238px;
    height:230px;
    border-radius: 5px;
    margin-left:278px;
    margin-top: -229px;

}


